# Environnements virtuels
env/
venv/

# Fichiers de base de données locales
db.sqlite3

# Cache Python
__pycache__/
*.pyc

# Configurations locales et clés secrètes
*.env
secrets.json

# Fichiers générés par l’éditeur
.vscode/
.idea/

# Fichiers statiques collectés (si collectstatic est utilisé)
staticfiles/

# Fichiers médias locaux
/media/
